* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url("galaxy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

h1 {
  color: white;
  padding: 30px;
  font-size: 40px;
}

.btn {
  font-size: 25px;
  padding: 10px 15px;
  border: none;
  background: white;
}

.exp {
  border-bottom: 8px white solid;
}

img {
  width: 300px;
}
