* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #12263a;
  width: 650px;
  height: 300px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 5px;
}

.guest,
.home {
  padding: 50px;
}

.board-title {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.score {
  color: #640d14;
  font-size: 60px;
  font-weight: 600;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 100px;
  margin: 10px 0 15px 0;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.411);
}
